.contenidoApi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }
   .cart{
       width: 300px;
       margin: 0 auto;
       text-align: center;
       border-radius: 5px;
       height: auto;
       margin: 1rem;
       padding: 1rem;
       -webkit-box-shadow: 0px 6px 19px 6px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 6px 19px 6px rgba(0,0,0,0.75);
       box-shadow: 0px 6px 19px 6px rgba(0,0,0,0.75);
   }
   .cart img{
       width: 100px;
       height: 100px;
       border-radius: 121%;
       margin: 1rem;
       border: 5px solid #C1D72F;
   }