.contenidoApi{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.cart{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 6px 19px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 19px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 19px 6px rgba(0,0,0,0.75);
}
.cart img{
    width: 100px;
    height: 100px;
    border-radius: 121%;
    margin: 1rem;
    border: 5px solid #C1D72F;


}
.contenedorTitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor{
    padding: 1rem;
    border: 1px solid gray;
    -webkit-box-shadow: 2px 14px 20px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 14px 20px -12px rgba(0,0,0,0.75);
    box-shadow: 2px 14px 20px -12px rgba(0,0,0,0.75);
}

.contenedorTitulo hr{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #C1D72F;
}
.contenedorTitulo h1{
    width: 20%;
}
.oculto{
    display: none;
}
.linea{
width: 70%;
margin: 0 auto;
margin-bottom: 1rem;
}
.botonEliminar{
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #D06A7D;
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
}
.contenedorIcon{
    width: 40px;
    height: 40px;
    border: 1px solid #C1D72F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C1D72F;
    border-radius: 5px;
}
.contenedorIconDelete{
    width: 40px;
    height: 40px;
    border: 1px solid #CF6679;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CF6679;
    border-radius: 5px;
}
.contendorCheckbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form  input {
height: 40px;
margin-bottom: 1rem;
border: none;
background-color: #D7E57A;
color: #6C733D;

}
.boton{
    background-color: white;
}
.iconos{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.contenedorIconOverView{
    width: 40px;
    height: 40px;
    border: 1px solid #C1D72F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C1D72F;
    border-radius: 5px;
    margin: 0 auto;
}