.App {
  text-align: center;
}

.contenido{
   width: 80%;
   margin: 0 auto;
   margin-top: 0 !important;
}
.navar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 1rem;
  -webkit-box-shadow: 2px 14px 20px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 14px 20px -12px rgba(0,0,0,0.75);
  box-shadow: 2px 14px 20px -12px rgba(0,0,0,0.75);
}
.botones a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}
a:hover {
  color: #C1D72F;
  cursor: pointer;
}
.new{
  width: 104px;
  height: 43px;
  border-radius: 7px;
  background-color: #C1D72F;
  border: none;

}
.new:hover{
    color: black;
    cursor: pointer;
}
.botones{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row{
  width: 80%;
  margin: 0 auto;
}